.container {
  margin: 20px; 
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.top, .bottom {
  margin: 20px; 
  background-color: red;
  padding: 10px;
  text-align: center;
  height: 100px;
}

.content {
  display: flex;
  flex: 1;
}

.left, .right, .main {
  flex: 1;
  padding: 20px;
  text-align: center;
  margin: 20px;
}

.left {
  background-color: purple;
}

.main {
  background-color: #ffffff;
}

.right {
  background-color: purple;
}
