.container {
  margin: 20px; 
  display: flex;
  flex-direction: column;
}

.top, .bottom {
  margin: 20px; 
  background-color: red;
  padding: 10px;
  text-align: center;
  height: 100px;
}

.content {
  display: flex;
  flex: 1;
}

.left, .right {
  width: 20%;
  padding: 20px;
  text-align: center;
  margin: 20px;
}

.left {
  background-color: purple;
}

.main {
  width: 60%;
  background-color: #ffffff;
  justify-content: flex-start;
  align-items: left;
  text-align: justify;
}

.right {
  background-color: purple;
}
